.my-custom-class .alert-message {
  text-align: center;
}

ion-content {
  padding-bottom: 60px; /* Adjust padding if the footer overlaps the content */
}

.footer-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.footer-button-margin {
  margin-bottom: 15px;
}

ion-label h1, ion-label h2 {
  margin: 0;
}
