<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Minimal Expanse Manger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label color="tertiary"><h1>View Expenses</h1></ion-label>
</ion-item>
  <ion-list>
    <ion-item *ngFor="let expense of expenses; let i = index">
      <ion-label color="tertiary">
        <h2>{{ expense.amount }} €</h2>
        <p>{{ expense.location }}</p>
        <p>{{ expense.date }}</p>
      </ion-label>
      <ion-button fill="outline" expand="block" color="danger" (click)="deleteExpense(i)"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
    <ion-label color="tertiary">
      <h1>Total Expenses: {{ totalExpense }} €</h1>
    </ion-label>
  </ion-item>
    <ion-button fill="outline" expand="block" color="tertiary" (click)="navigateToAddExpense()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add New Expense
    </ion-button>
  </ion-toolbar>
</ion-footer>
