<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Location </ion-label>
      <ion-input [(ngModel)]="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount </ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addExpense()">Add Expense </ion-button>
</ion-content>
